<configuration scan="true" scanPeriod="30 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
               {
                 "service": "sketch",
                 "version": "${VERSION:-snapshot}",
                 "env": "${ENV:-local}",
                 "hostname": "${HOSTNAME:-unknown}"
               }
            </customFields>
        </encoder>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.http4s" level="INFO"/>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
    </root>
</configuration>
